.contenido1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    background-color: azure;
    background-image: url("principald.jpg");
    background-size: cover;
    font-size: 25px;
    text-align: center;
}
.contenido2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    background-color: azure;
    background-image: url("principald.jpg");
    background-size: cover;
    font-size: 25px;
    text-align: center;
}

.estab {
    flex-basis: 50%;
    margin: 20px 10px;
    background-color: bisque;
}

.estab li {
    list-style: none;
}
.fotos{
    width: 50%;
    height: 50%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .estab {
        flex-basis: 90%;
    }
}
