.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: rgb(249, 255, 255);
    background-size: cover;
    font-size: 25px;
    text-align: center;
}

.estab {
    width: 45%; /* Ajusta el valor según tus preferencias */
    margin: 20px 10px;
    background-color: bisque;
}

.estab li {
    list-style: none;
}

.fotos {
    width: 60%;
    height: 200px; /* Ajusta el alto según tus preferencias */
    object-fit: cover; /* Ajusta la imagen al contenedor sin sobresalir */
}

.bar {
    width: 100%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .contenido1, .contenido2 {
        background-image: none; /* Eliminar el fondo de imagen */
        background-color: azure; /* Establecer el fondo de color azul */
        background-color: rgba(255, 166, 0, 0.846);
    }
    .estab {
        width: 90%; /* Ajustar el ancho para dispositivos móviles */
    }
}
