.cate{

    background-image: url("/restauranted.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    color:greenyellow;
    height: 650px;
}
.lista{
    margin-left: 40%;
    background-color: rgb(235, 235, 0);
    width: 290px;
    border-radius: 20px;
}
.disponible{
    
    color: rgb(255, 238, 127);
   
    
}
.hora{
    margin-bottom: 90px;
    padding: 40px;
}
.navega{
    margin-top: 30px;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .cate {
        height: 400px; /* Ajusta la altura para dispositivos móviles */
        background-size: contain; /* Ajusta el tamaño de la imagen para dispositivos móviles */
        font-size: 20px; /* Reduce el tamaño de fuente para dispositivos móviles */
    }
    
    .lista {
        margin-left: 0; /* Elimina el margen izquierdo */
        width: 100%; /* El ancho ocupará todo el espacio disponible */
    }
    
    .url {
        font-size: 18px; /* Reduce el tamaño de fuente para dispositivos móviles */
    }
}
