.cate{

    background-image: url("/restauranted.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    color:greenyellow;
    height: 650px;
}
.lista{
    margin-left: 40%;
    background-color: greenyellow;
    width: 240px;
}
.disponible{
    font-size: 18;
    color: rgb(255, 238, 127);
}
.hora{
    margin-bottom: 90px;
    padding: 40px;
}
