.contForm{
    display: flex;
   
}

.formulario{
    margin-top: 30px;
  
}
.campos{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   
    
  
   
}
.campos label{
    width: 120px;
}
.inputc{
    width:210px;
}

.comentarios{

    display: block;
}


p{
    font-size:25px;
    color: rgb(5, 189, 57);
    width:fit-content;
}
.comentarios textarea{
    width:200px;
    height: 70px;
}
.pulpito{
    width: 30%;
    height: 30%;
    margin-left: 23%;
    margin-bottom: 20px;
    
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .campos label {
        width: 100%; /* El ancho de la etiqueta ocupará todo el espacio disponible */
    }

    .comentarios textarea {
        width: 100%; /* El ancho del textarea ocupará todo el espacio disponible */
    }

    .pulpito {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 20px;
    }
}
