.formulario{
    margin-top: 30px;
}
.campos{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   
}
.campos label{
    width: 120px;
}

.comentarios{

    display: block;
}


p{
    font-size:17px;
    color: rgb(5, 189, 57);
    width:fit-content;
}
