.navegador{
    display:flex;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10%;
    margin-bottom: 10px;
    
}
.nav{
    flex:1;
    color: rgb(134, 89, 7);
    margin-bottom: 10px; /* Añadir margen inferior */
    
}
.titulin{
    background-color: azure;
}

.nav :hover{
    background-color: rgb(46, 226, 43);
}
@media (max-width: 600px) {
  .navegador {
    flex-direction: column; /* Cambia a dirección vertical */
    align-items: center; /* Centra los elementos verticalmente */
    font-size: 16px;
  }
}
