
.uno{
    display:flex;
	width:15%;
	margin:auto;
	color:rgb(118, 34, 34);
	background-color:rgb(250,150,0);
	text-align:center;
	font-size:30px;
	border:solid 5px;
	border-radius:10%;
	transition-duration:color=1s;}
    
.uno li{
	list-style-type:none;
}
.uno :hover{
	color:rgb(0,0,0);
	background-color:rgb(250,250,250);
}


h2{
	text-align:center;
}