.contenidos{
    width: 20%;
    display:flex;
    flex-direction: column;
    border: 1px solid;
    background-color: azure;
    color: brown;
    margin-left: 700px;
   
    }
    
   
    h3{
        text-align: center;
        background-color: bisque;
        margin: 0;
    }
    .fecha{
        margin-left: 55px;
    }
    .estado{
        margin-left: 30px;
    }
    .lluvia{
        margin-left: 30px;
    }
    span{
        color: #2211bc;
        
    }
    
/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .contenidos {
        width: 100%;
        margin-left: 0;
    }
}

  
